<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script src="filter_app.js"></script>
    <link href="filter.css" rel="stylesheet">

        <h1>Book Details</h1>

</head>
<body ng-app="MyApp">
    <div ng-controller="MyCtrl">
        Rows to Display:<input type="number" step="1" min="0" max="4" ng-model="rowlimit" />
        <br \>
        <br \>

        Search:<input type="text" placeholder="Seach Authors" ng-model="Search" />
        <br \>
        <br \>
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                
                <th>Rating</th>
                <th>Price</th>
                
            </tr>
            <tbody>
                <tr ng-repeat="book in book | limitTo:rowlimit |filter:Search ">
                    <td>{{book.title | uppercase}}</td>
                    <td>{{book.author| uppercase}}</td>
                    <td>{{book.genre | lowercase}}</td>
                    
                    <td>{{book.rate| number:0}}</td>
                    <td>{{book.price | currency:"&#8377;":0 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>