<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <script src="angular.min.js"></script>
    <script src="filter_app.js"></script>
    <link href="filter.css" rel="stylesheet">
</head>
<body ng-app="myapp" ng-controller="myctrl">
   <h3>Product Details</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Index</th>
            <th>PRODUCT ID</th>
            <th>PRODUCT NAME</th>
            <th>PRICE</th>
            <th>NUMBER OF PIECES</th>
            <th>OPTIONS</th>
        </tr>
        <tr ng-repeat="product in listProduct">
            <td>{{$index}}</td>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price | currency:"&#8377;":0}}</td>
            <td>{{product.piece}}</td>
            <td>
                <a href="#" ng-click="delete()">Delete</a> |
                <a href="#" ng-click="edit(product.id)">Edit</a>
            </td>
        </tr>
    </table>
    <h3>Product Addition/Modification</h3>
   
    <table cellpadding="2" cellspacing="2">
        <tr>
            <td>PRODUCT ID</td>
            <td><input type="text" ng-model="id"></td>
        </tr>
        <tr>
            <td>PRODUCT NAME</td>
            <td><input type="text" ng-model="name"></td>
        </tr>
        <tr>
            <td>PRICE</td>
            <td><input type="tel" ng-model="price"></td>
        </tr>
        <tr>
            <td>NUMBER OF PIECES</td>
            <td><input type="tel" ng-model="piece"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="button" value="ADD" ng-click="add()">
            <input type="button" value="SAVE" ng-click="save()"></td>
        </tr>
    </table>
   
</body>
</html>
